{% extends "header_layout.html" %}

{% block content %}
<div class="container">
    <div class="entry-list">
        {% for entry in entries %}
        <article>
            <h2><a href="{{ url_for('view_entry', id=entry.id) }}">{{ entry.title }}</a></h2>
            <time datetime="{{ entry.date_created.strftime('%d/%m/%Y') }}">
                {{ entry.date_created.strftime('%d/%m/%Y') }}
            </time>
            {% if entries == tagged_entries %}
                <div class="delete">
                    <a class="button" href="{{ url_for('delete_entry', id=entry.id) }}">Delete Entry</a>
                </div>
            {% endif %}
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}

