{% extends "style_layout.html" %}

{% block head %}
<header>
    {% with messages=get_flashed_messages() %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="messages">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <div class="container">
        <div class="site-header">
            <a class="logo" href="{{ url_for('index') }}"><i class="material-icons">library_books</i></a>
            {% if current_user.is_authenticated %}
            <a class="button icon-right" href="{{ url_for('create_new') }}">
                <span>New Entry</span> <i class="material-icons">add</i></a>
            <a class="button icon-right" href="{{ url_for('logout') }}">
                <span>Logout</span></a>
            {% else %}
            <a class="button icon-right" href="{{ url_for('login') }}">
                <span>Login</span></a>
            <a class="button icon-right" href="{{ url_for('register') }}">
                <span>Register</span></a>
            {% endif %}
        </div>
    </div>
</header>
{% endblock %}
{% block content %}{% endblock %}
