{% extends "layout_header.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
<div class="new-entry">
    <h2>New Entry</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>{{ form.title.label }}{{ form.title }}</div>
        <div>{{ form.time_spent.label }}{{ form.time_spent(min=0) }}</div>
        <div>{{ form.date_created.label }}{{ form.date_created }}</div>
        <div>{{ form.content.label }}{{ form.content }}</div>
        <div>{{ form.resources.label }}{{ form.resources }}</div>
        <input type="submit" value="Publish Entry" class="button"><br>
        <a href="{{ url_for('index') }}" class="button">Cancel</a>
    </form>
</div>
{% endblock %}