{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="new-entry">
        <h2>New Entry</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <label for="title"> Title</label>
            <input id="title" type="text" name="title">{{ form.title }}<br>
            <label for="date">Date</label>
            <input id="date" type="date" name="date">{{ form.datetime }}<br>
            <label for="time-spent"> Time Spent</label>
            <input id="time-spent" type="text" name="timeSpent">{{ form.time_spent }}<br>
            <label for="what-i-learned">What I Learned</label>
            <textarea id="what-i-learned" rows="5" name="whatILearned">{{ form.content }}</textarea>
            <label for="resources-to-remember">Resources to Remember</label>
            <textarea id="resources-to-remember" rows="5" name="ResourcesToRemember">{{ form.resources }}</textarea>
            <input type="submit" value="Publish Entry" class="button"><br>
            <a href="#" class="button button-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}